---
// const response = await fetch('https://astro-isr-m8rf.vercel.app');
// const data = await response.json();
// const timestamp = data.timestamp;
// Setting cache-control header for ISR
const currentTime = new Date().toLocaleTimeString();
---

<html>
  <head>
    <title>Timestamp with ISR</title>
  </head>
  <body>
    <h1>Current Timestamp</h1>
    <p>{currentTime}</p>
  </body>
</html>
